.layer {
  height: 100%;
  padding: 112px 220px 220px 60px;
}

.layer-0 {
  color: $color3;

  .layer {
    background-color: $color1;
  }
}

.layer-1 {
  color: $color1;

  .layer {
    background-color: $color2;
  }

  .header {
    background-color: $color4;
  }
}


.layer-2 {
  color: $color1;

  .layer {
    background-color: $color3;
  }

  .header {
    background-color: $color5;
  }
}

.layer-3 {
  color: $color3;

  .layer,
  .header {
    background-color: $color4;
  }
}

.layer-4 {
  color: $color3;

  .layer,
  .header {
    background-color: $color5;
  }
}
