$flexboxgrid-gutter-width: 1rem;
$flexboxgrid-outer-margin: 1rem;
$flexboxgrid-grid-columns: 12;
$flexboxgrid-breakpoints: (md: 64rem);

$color1: rgba(64, 78, 92, 1);
$color2: rgba(224, 242, 233, 1);
$color3: rgba(249, 248, 248, 1);
$color4: rgba(92, 158, 173, 1);
$color5: rgba(235, 94, 85, 1);
