html {
  box-sizing: border-box;
  font-size: 100%;
  font-family: 'El Messiri', cursive;
  direction: rtl;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.shrink {
  flex: 0 0 auto;
}
